 *{
  margin: 0;
  padding: 0;

}
body{
  font-family:lato,"微軟正黑體", Arial, Helvetica, sans-serif;
  font-size:18px;
}

a,a:hover{
  text-decoration:none;
}

.go-top a{
  background-color: #333;
  color:#fff;
  position:fixed;
  right:10px;
  bottom:10px;
  z-index: 99;
  border-radius: 0;
  display:none;
}
.go-top a:hover{
  color:#fff;
  background-color: #333;
  }


.desklogo h1{
    font-weight:bold;
     margin: 0;
    letter-spacing:-4px;
}
.desklogo a{
  color:#006EBB;
  
}
.desktopNav{
  height:100px;
  padding:20px;
 box-shadow:5px 0 20px #666;   
 position:fixed;
 z-index:99;
  width: 100%;
  background-color:rgba(255,255,255,0.9);
}
.desktopNav ul{
  list-style:none;
  
}
.desktopNav ul li{
  float:left;
}
.desktopNav ul li a{
  color:#666;
  margin: 10px;
  padding: 5px 2px;
 color:#000;
}
.desktopNav ul li a:hover{
  border-bottom:2px solid #006EBB;
}
  @media screen and (max-width:700px) { 
    .desktopNav {
       display:none !important;
    }
 }
  @media screen and (max-width:700px) { 
    .moblieNav {
       display:flex !important;
    }
 }




.moblieNav{
  height: 60px;
  background-color:#004475;
  color:#fff;
  padding:0 15px;
  letter-spacing:-4px;
 position:fixed;
 z-index:99;
 width: 100%;

}
.logo h1{
   font-weight:bold;
   margin: 0;
}
.logo a{
  color:white;
}
.changeEN{  
  width: 60px; 
}
.changeEN a{
  color:#fff;
  border:2px solid ;
   letter-spacing:1px;
  padding:0 8px;
 
}
.burger{
  cursor:pointer;
  font-size:25px;
  margin-right:10px;
}
.fa-times{
  font-size:28px;
}
.menu{
  padding:20px 10px;
  position:fixed;
  top:50px;
  bottom:0;
  left:0;
  right:0;
  display:none;
  z-index:99;
  background-color:#fff;
  margin-bottom: 0;
}
.menu li{
  border-bottom:1px solid;
  color:#DDDDDD;
}
.menu li a{
  color:#555;
  font-size:20px;
   text-decoration:none;
   padding: 10px 10px;
  display:block; 
}

.carousel-item img{
  height: 500px;
}

  @media screen and (max-width:766px) { 
    .carousel-item img {
        height: 300px;
    }
 }


.carousel-control-prev-icon{
  background-image:url(https://cdn3.iconfinder.com/data/icons/up-side-down/100/46_left2-512.png);
  width: 30px;
  height: 30px;
  display:none;
}
.carousel-control-next-icon{
  background-image:url(https://cdn3.iconfinder.com/data/icons/up-side-down/100/49_right2-512.png);
   width: 30px;
  height: 30px;
  display:none;  
}
#carouselExampleFade:hover .carousel-control-prev-icon{
  display:block;
}
#carouselExampleFade:hover .carousel-control-next-icon{
  display:block;
}

.about h2{
  color:#006DBA;
 letter-spacing:5px;
  background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOwMQfEyBxku0K3sKJtRD5cECsy2plTAeG2QgTSgWKrASgco4y);
  background-position:center center;
  background-size:80px 80px;
  background-repeat:no-repeat;
}

.img-icon img{
    width: 260px;
  height: 260px;
  border-radius:50%;
}

.img-icon a{
  position:absolute;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  height: 260px;
  width: 260px;
   background-color:rgba(53,123,172,.5);
  border-radius:50%;
  opacity:1;
  margin:0 auto;
  color:#fff;
  font-size:18px;
  display:none;
}
.intro{
  padding-top:100px;
}
.col-lg-4:hover .intro{
   display:block;
 
}
.news{
  background-color:#7092AD;
}
.news h2{
    margin: 50px;
  letter-spacing:2px;
}
.news p{
  margin: 20px;
}
.btn-outline-white{
  color:#fff;
  
}
.btn-outline-white:hover{
  background-color: #fff;
  color:#7092AD;
}
.qc-icon h2{
   color:#006DBA;
 letter-spacing:5px;
  background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOwMQfEyBxku0K3sKJtRD5cECsy2plTAeG2QgTSgWKrASgco4y);
  background-position:center center;
  background-size:80px 80px;
  background-repeat:no-repeat;
}


.qc-icon img{
  width: 100px;
  height: 100px;
}

.footer{
  font-size:14px;
  color:#fff;
  text-align:center;
  background-color: #004475;
}
.footer p{
  margin-bottom: 20px;
}
.footer ul li{
  list-style:none; 
  display:inline-block;
}
.footer a {
  padding: 10px;
  color:#fff;
}

  @media screen and (max-width:766px) { 
    .footerinfo {
        flex-direction: column;
    }
 }

.bg-cover{
  height: 100vh;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  position:fixed;
  right:0;
  top:0;
  bottom:0;
  z-index:-1;  
}

  @media screen and (max-width:766px) { 
    .bg-cover {
        display:none;
    }
 }
.breadcrumb{
  background-color:#fff;
  font-size:14px;
}
.page-content h2{
  border-bottom:2px solid tomato;
  padding:10px 0px;
}
.page-content p{
  margin-top: 20px;
}

.quality-img img{
  height: 100px;
  width: 100px;
}


.imgOverview{
  position:relative;
    display:inline-block;

}
.imgOverview img{
  height: 180px;
  width: 180px; 
   display:block;

}
.imgOverview span{
  position:absolute;
   background-color:rgba(0,0,0,.5);
  height: 180px;
  width: 180px;
  top:0;
  left:0;
  padding-top:70px;
  padding-left:8px;
  color:#fff;  
  display:none;
}
.imgOverview:hover span{
  display:block;
}

  @media screen and (max-width: 424px) { 
    .imgOverview {
      width: 170px;
      height: 170px;
    }
 }
  @media screen and (max-width: 424px) { 
    .imgOverview img{
        width: 170px;
      height: 170px;

    }
 }
  @media screen and (max-width: 424px) { 
    .imgOverview span{
        width: 170px;
      height: 170px;
    }
 }
.btn{
  border:0px solid ;
}
.btn-warning:hover{
  background-color:rgba(255,193,7,.7);
}
